@use "./../../../variables.scss" as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 18px;

  .add-todo {
    margin-top: 24px;
    display: flex;
    gap: 8px;

    input {
      flex: 1;
    }

    button {
      font-size: 23px;
      line-height: 18px;
    }
  }
}
